html {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;

}

#total-expenses {
    color: white;
}

.total-expenses {
    position: fixed;
    top: 200px;
    right: 150px;
    background-color: #16283F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 450px;

}

#delete-expenses {
    position: relative;
    bottom: 120px;
    right: 350px;
    background-color: #ac2604;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

#clear-expenses {
    position: relative;
    bottom: 60px;
    right: 575px;
    background-color: #16283F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

#submit-expenses {
    position: relative;
    top: 0px;
    right: 800px;
    background-color: #1da724;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;

}

#expense-name {
    position: relative;
    top: 50px;
    right: 750px;
    background-color: #16283F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#expense-amount {
    position: relative;
    bottom: 10px;
    right: 400px;
    background-color: #16283F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#expense-date {
    position: relative;
    bottom: 70px;
    right: 0px;
    background-color: #16283F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;

}

.expense-text {
    position: relative;
    top: 50px;
    left: 0px;
    background-color: #1E3A5F;
    color: white;
    padding: 20px;
    border-radius: 10px;

}

.expense-list {
    position: relative;
    text-align: center;
    top: 50px;
    left: 0px;
    background-color: #1E3A5F;
    color: white;
    padding: 5px;
    border-radius: 1px;

}

#expense-title {
    color: white;
    text-align: center;
}

#expense-subtitle {
    color: #57737a;
    text-align: center;
}

#expense-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#logo {
    position: relative;
    top: 90px;
    left: 625px;
    display: block;
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

ul {
    list-style-type: none;
}
